<!-- wp:template-part {"slug":"header","theme":"mdporto","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
    <!-- wp:pattern {"slug":"mdporto/hero-developer"} /-->
    
    <!-- wp:pattern {"slug":"mdporto/about-section"} /-->
    
    <!-- wp:pattern {"slug":"mdporto/services-section"} /-->
    
    <!-- wp:pattern {"slug":"mdporto/fastwork-cta-section"} /-->
    
    <!-- wp:pattern {"slug":"mdporto/portfolio-section"} /-->
    
    <!-- wp:pattern {"slug":"mdporto/testimonials-section"} /-->
    
    <!-- wp:pattern {"slug":"mdporto/contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mdporto","tagName":"footer","className":"site-footer"} /-->
